/* Common Components */

.input_div {
    top: 30vh;
    left: 10vw;
    width: 50vw;
    height: 33.010498046875px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.text_input {
    outline: none;
    /*border: none;*/
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    /*boder-bottom: 0px;*/
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
    width: 50vw;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: NanumSquareRound;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    left: 5vw;
}

.button_confirm {
    border: none;
    top: 80vh;
    left: 28vw;
    width: 24vw;
    height: 30px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 7px;
    background-color: rgba(0, 74, 128, 1);

    /*color*/
    justify-content: center;
    color: white;
    font-size: 12px;
    font-style: Regular;
    text-align: center;
    font-family: NanumSquareRound;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
}

.button_delete {

}

/* Viewport Setup */

html, body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #222222;
}

/* Navigation Bar */

.nav-bar-container {
    position: absolute;
    width: 100vw;
    bottom: 0;
    /*display: flex;*/
    /*overflow: auto;*/
    min-height: 20vw;
    align-items: center;
    flex-direction: column;
    /*position: fixed;*/
    /*position: static;*/
    z-index: 3;
    overflow-y: scroll;
}
.nav-bar-nav-bar {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 20vw;
    display: flex;
    overflow: hidden;
    position: fixed;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(29, 29, 29, 1);
}
.nav-bar-navhome {
    bottom: 0;
    left: 0px;
    width: 20vw;
    height: 20vw;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 1vw;
    background-color: rgba(64, 64, 64, 1);
}
.nav-bar-home2 {
    bottom: 5vw;
    left: 5vw;
    width: 10vw;
    height: 10vw;
    position: absolute;
}
.nav-bar-navfridge {
    bottom: 0;
    left: 20vw;
    width: 20vw;
    height: 20vw;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 1vw;
    background-color: rgba(64, 64, 64, 1);
}
.nav-bar-fridge3 {
    bottom: 4vw;
    left: 4vw;
    width: 12vw;
    height: 12vw;
    position: absolute;
}
.nav-bar-navrecipe {
    bottom: 0;
    left: 40vw;
    width: 20vw;
    height: 20vw;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 1vw;
    background-color: rgba(64, 64, 64, 1);
}
.nav-bar-recipe2 {
    bottom: 5vw;
    left: 5vw;
    width: 10vw;
    height: 10vw;
    position: absolute;
}
.nav-bar-navaccount {
    bottom: 0;
    left: 60vw;
    width: 20vw;
    height: 20vw;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 1vw;
    background-color: rgba(64, 64, 64, 1);
}
.nav-bar-account2 {
    bottom: 5vw;
    left: 5vw;
    width: 10vw;
    height: 10vw;
    position: absolute;
}
.nav-bar-navquit {
    bottom: 0;
    left: 80vw;
    width: 20vw;
    height: 20vw;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 1vw;
    background-color: rgba(64, 64, 64, 1);
}
.nav-bar-leave2 {
    bottom: 5vw;
    left: 5vw;
    width: 10vw;
    height: 10vw;
    position: absolute;
}

