html, body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #222222;
}
.ingredients-view-container {
    width: 100vw;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
.ingredients-view-ingredients-view {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 30px;
}
.ingredients-view-divfridgemanage {
    top: 5vh;
    left: 10vw;
    width: 80vw;
    height: 90vh;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(44, 44, 44, 1);
    border-radius: 30px;
}
.ingredients-view-imgfridge {
    top: 20px;
    left: 12px;
    width: 90px;
    height: 140px;
    position: absolute;
}
.ingredients-view-text {
    top: 30vh;
    left: 6vw;
    color: rgba(255, 255, 255, 1);
    width: 94px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: NanumSquareRound;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.ingredients-view-text02 {
    top: 30vh;
    left: 15vw;
    color: rgba(255, 255, 255, 1);
    width: 50vw;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: NanumSquareRound;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.ingredients-view-text04 {
    top: 30vh;
    right: 6vw;
    color: rgba(255, 255, 255, 1);
    width: 94px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: right;
    font-family: NanumSquareRound;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.ingredients-view-text06 {
    top: 12vh;
    left: 27vw;
    color: rgba(255, 255, 255, 1);
    width: 45vw;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: NanumSquareRound;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.ingredients-view-frame2 {
    top: 85vh;
    left: 30vw;
    width: 20vw;
    height: 30px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 7px;
    background-color: rgba(0, 74, 128, 1);
    /*text-align: center;*/
}
.ingredients-view-text08 {
    top: 8px;
    color: rgba(255, 255, 255, 1);
    width: 20vw;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: center;
    font-family: NanumSquareRound;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    /*text-align: center;*/
}
.ingredients-view-frame3 {
    top: 85vh;
    left: 5vw;
    width: 20vw;
    height: 30px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 7px;
    background-color: rgba(94, 22, 0, 1);
    /*text-align: center;*/
}
.ingredients-view-text10 {
    top: 8px;
    color: rgba(255, 255, 255, 1);
    width: 20vw;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: center;
    font-family: NanumSquareRound;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    /*text-align: center;*/
}
.ingredients-view-frame4 {
    top: 85vh;
    left: 55vw;
    width: 20vw;
    height: 30px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 7px;
    background-color: rgba(0, 74, 128, 1);
    /*text-align: center;*/
}
.ingredients-view-text12 {
    top: 8px;
    color: rgba(255, 255, 255, 1);
    width: 20vw;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: center;
    font-family: NanumSquareRound;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    /*text-align: center;*/
}
