html, body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #222222;
}
.main-menu-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
.main-menu-main-menu {
    width: 100%;
    height: 640px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(34, 34, 34, 1);
}
.main-menu-divnotice {
    top: 5vh;
    left: 10vw;
    width: 80vw;
    height: 30vh;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(44, 44, 44, 1);
    border-radius: 30px;
}
.main-menu-text {
    top: 3vh;
    left: 10vw;
    color: rgba(255, 255, 255, 1);
    width: 60vw;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: NanumSquareRound;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.main-menu-divdailyrecipe {
    top: 230px;
    left: 30px;
    width: 300px;
    height: 180px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(44, 44, 44, 1);
}
.main-menu-text2 {
    top: 19px;
    left: 45px;
    color: rgba(255, 255, 255, 1);
    width: 211px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: NanumSquareRound;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.main-menu-nav-bar {
    top: 568px;
    left: -1px;
    width: 360px;
    height: 72px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(29, 29, 29, 1);
}
.main-menu-navhome {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 3px;
    background-color: rgba(64, 64, 64, 1);
}
.main-menu-home2 {
    top: 16px;
    left: 16px;
    width: 40px;
    height: 40px;
    position: absolute;
}
.main-menu-navfridge {
    top: 0px;
    left: 72px;
    width: 72px;
    height: 72px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 3px;
    background-color: rgba(64, 64, 64, 0);
}
.main-menu-fridge3 {
    top: 11px;
    left: 11px;
    width: 50px;
    height: 50px;
    position: absolute;
}
.main-menu-navrecipe {
    top: 0px;
    left: 144px;
    width: 72px;
    height: 72px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 3px;
    background-color: rgba(64, 64, 64, 0);
}
.main-menu-recipe2 {
    top: 16px;
    left: 16px;
    width: 40px;
    height: 40px;
    position: absolute;
}
.main-menu-navaccount {
    top: 0px;
    left: 216px;
    width: 72px;
    height: 72px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 3px;
    background-color: rgba(64, 64, 64, 0);
}
.main-menu-account2 {
    top: 16px;
    left: 16px;
    width: 40px;
    height: 40px;
    position: absolute;
}
.main-menu-navquit {
    top: 0px;
    left: 288px;
    width: 72px;
    height: 72px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 3px;
    background-color: rgba(64, 64, 64, 0);
}
.main-menu-leave2 {
    top: 16px;
    left: 16px;
    width: 40px;
    height: 40px;
    position: absolute;
}
